#**Data Structures in Python**

In [ ]:
 #1.Write a code to reverse a string.
       # slicing
def reverse_string(s):
  return s[::-1]
s= input ("write string:")
print(reverse_string(s))

write string:Soniya
ayinoS

In [ ]:
 #2.Write a code to count the number of vowels in a string.
         # using for loop
vowels="aeiou"
s=input('string:')

count =0
for char in s.lower():
  if char in vowels:
    count+=1
print("number of vowels:", count)

string:i am soniya , i live in india
number of vowels: 12

In [ ]:
#3.Write a code to check if a given string is a palindrome or not
num=input('enter here ')
if num == num[::-1]:
  print('num is palindrome')
else:
  print('num is not palindrome')

enter here 12321
num is palindrome

In [ ]:
#4.Write a code to check if two given strings are anagrams of each other
str1=input('enter 1')
str2=input('enter 2')
if sorted(str1)==sorted(str2):
  print(' anagrams')
else:
  print(' not anagrams')

enter 1listen
enter 2silent
 anagrams

In [ ]:
#5.write a code to find all occurences of a given substring within another string
def find_substr(str,substr):
  index= str.find(substr)
  occurence=[]
  while index !=-1:
    occurence.append (index)
    index=str.find(substr,index+1)
  return occurence
print(find_substr("my name is siya, i am from delhi, in delhi i work as data scientist","delhi" ))

[27, 37]

In [ ]:
#6.write a code to perform basic string compression using the counts of repeated characters.
s=input('enter string:')
def str_compression(s):
  compressed=""
  count=1
  for i in range(1,len(s)):
    if s[i]==s[i-1]: # index compared to previous index
      count+=1
    else:
      compressed+=s[i-1]+str(count)
      count=1
  compressed+=s[-1]+str(count)
  return compressed
print(str_compression(s))

enter string:ssaaddfff
s2a2d2f3

In [ ]:
#7.Write a code to determine if a string has all unique characters
s=input('enter string:')
def uni_chars(s):
  return len(set(s))==len(s)
print("string has all unique characters: ",uni_chars(s))

enter string:soniya
string has all unique characters:  True

In [ ]:
#8.Write a code to convert a given string to uppercase or lowercase
s=input('enter string:')
def uppercase(s):
  return s.upper()
print(uppercase(s))
def lowercase(s):
  return s.lower()
print(lowercase(s))

enter string:soniya
SONIYA
soniya

In [ ]:
#9.Write a code to count the number of words in a string
s=input('enter string:')
def count_words(s):
  words=s.split()
  return len(words)

print(count_words(s))

enter string:Physics wallah is offering new courses
6

In [ ]:
#10.write a code to concatenate two strings without using + operator.
s1=input('enter string:')
s2=input('enter string:')
def concatenate_str(s1,s2):
  return f"{s1}{s2}"
s=concatenate_str(s1,s2)
print("concatenate_str(s1,s2):",s)

enter string:Pw is good
enter string:platform for skills learning
concatenate_str(s1,s2): Pw is goodplatform for skills learning

In [ ]:
#11.Write a code to remove all occurrences of a specific element from a list
# list comprehension
lst = [32,76,43,98,32,32]
elem= 32
lst = [x for x in lst if x !=elem]
print ("list after removal:", lst)

list after removal: [76, 43, 98]

In [ ]:
#12.Implement a code to find the second largest number in a given list of integers
lst=input("enter list:").split() # while entering list give space between
lst.sort()
sec_larg=lst[-2]
print("second largest number in list:",sec_larg)

enter list:23 34 32 54 65 21 32
second largest number in list: 54

In [ ]:
#13.Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values
lst = input("Enter list : ").split()
def count_occ(lst):
    counts = {}  # Ek khali dictionary banayi
    for element in lst:  # List ke har element ke liye loop chalayenge
        if element in counts:  # Agar element pehle se dictionary mein hai
            counts[element] += 1  # Uski count ko 1 se badhao
        else:
            counts[element] = 1  # Nahi toh us element ki count ko 1 set karo
    return counts
result = count_occ(lst)
print(result)

Enter list : 23 34 12 21 32 43 54 23 34 34 12 12 12 12
{'23': 2, '34': 3, '12': 5, '21': 1, '32': 1, '43': 1, '54': 1}

In [ ]:
#14.Write a code to reverse a list in-place without using any built-in reverse functions
lst = input("Enter: ").split()
def reverse_lst(lst):
    left = 0
    right = len(lst) - 1
    while left < right:
        lst[left], lst[right] = lst[right], lst[left]
        left += 1
        right -= 1
reverse_lst(lst)
print(lst)

Enter: 23 34 32 54 65 21 32
['32', '21', '65', '54', '32', '34', '23']

In [ ]:
#15.implement a code to find and remove duplicates from a list while preserving the original order of elements
lst=input('enter:').split()
seen=set()
lst=[x for x in lst if x not in seen and not seen.add(x)]
print ("list after removal:", lst)

enter:23 34 32 54 65 21 32
list after removal: ['23', '34', '32', '54', '65', '21']

In [ ]:
#16.Create a code to check if a given list is sorted (either in ascending or descending order) or not
def is_sorted(lst):
    if lst == sorted(lst):
        return "The list is sorted in ascending order."
    elif lst == sorted(lst, reverse=True):
        return "The list is sorted in descending order."
    else:
        return "The list is not sorted."
test_list = [3, 5, 7, 9, 11]
result = is_sorted(test_list)
print(result)

The list is sorted in ascending order.

In [ ]:
#17.Write a code to merge two sorted lists into a single sorted list
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
def merge_shorted_list(list1,list2):
  merge_list=list1+list2
  merge_list.sort()
  return merge_list
print(merge_shorted_list(list1,list2))

[1, 2, 3, 4, 4, 5, 5, 6, 7, 8]

In [ ]:
#18.Implement a code to find the intersection of two given lists
def find_intersection(list1, list2):
    return [x for x in list1 if x in list2]

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
print("Intersection of the lists:", find_intersection(list1, list2))

Intersection of the lists: [4, 5]

In [ ]:
#19.Create a code to find the union of two lists without duplicates
def find_unique(list1, list2):
    return list(set([x for x in list1 +list2 ]))
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
intersection = find_unique(list1, list2)
print("Intersection of the lists:", intersection)

Intersection of the lists: [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
#20.Write a code to shuffle a given list randomly without using any built-in shuffle functions
import random
def shuffle_list(lst):
    shuffled_lst = lst[:]  # copy of the original list
    for i in range(len(shuffled_lst)):
        rand_index = random.randint(0, len(shuffled_lst) - 1)
        # Swap
        shuffled_lst[i], shuffled_lst[rand_index] = shuffled_lst[rand_index], shuffled_lst[i]
        return shuffled_lst
original_list = [1, 2, 3, 4, 5]
shuffled_list = shuffle_list(original_list)
print("Original list:", original_list)
print("Shuffled list:", shuffled_list)

Original list: [1, 2, 3, 4, 5]
Shuffled list: [5, 2, 3, 4, 1]

In [ ]:
#21. Write a code that takes two tuples as input and returns a new tuple containing elements common to both input tuples

tuple1 = tuple(map(int, input("Enter first tuple (space-separated): ").split()))
tuple2 = tuple(map(int, input("Enter second tuple (space-separated): ").split()))

# Find intersection
common_elements = tuple(set(tuple1).intersection(set(tuple2)))
print("Common Elements in both Tuple:", common_elements)

Enter first tuple (space-separated): 23 34 32 54 65 21 32
Enter second tuple (space-separated):  32 54 65 21 76 86 65
Common Elements in both Tuple: (32, 65, 21, 54)

In [ ]:
#22.Create a code that prompts the user to enter two sets of integers separated by commas.
#   Then, print the intersection of these two sets

set1 = input("Enter the first set of integers (separated by commas): ")
set2 = input("Enter the second set of integers (separated by commas): ")

# Convert input strings to sets of integers
set1 = set(map(int, set1.split(',')))
set2 = set(map(int, set2.split(',')))

intersection = set1 & set2
print("The intersection of the two sets is:", intersection)

Enter the first set of integers (separated by commas): 12,3,4,5,6,7,8
Enter the second set of integers (separated by commas): 32,43,54,65,7,8,9
The intersection of the two sets is: {8, 7}

In [ ]:
#23.Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing
#elements from both input tuples.
def concatenate_tuples(tuple1, tuple2):
    return tuple1 + tuple2
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = concatenate_tuples(tuple1, tuple2)
print("Concatenated Tuple:", result)

Concatenated Tuple: (1, 2, 3, 4, 5, 6)

In [ ]:
#24.Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first
#set but not in the second set..

set1 = set(input("Enter the first set of strings (separated by commas): ").split(','))
set2 = set(input("Enter the second set of strings (separated by commas): ").split(','))

difference = set1 - set2
print("Elements in the first set but not in the second set:", difference)

Enter the first set of strings (separated by commas): hi,hello,when,where
Enter the second set of strings (separated by commas): where
Elements in the first set but not in the second set: {'hello', 'hi', 'when'}

In [ ]:
#25.Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices
def extract_range_from_tuple(tpl, start, end):
    return tpl[start:end + 1]
original_tuple =tuple(map(int, input("Enter tuple (space-separated): ").split()))
start_index =int(input("enter start:"))
end_index = int(input("enter end:"))
result = extract_range_from_tuple(original_tuple, start_index, end_index)
print("Extracted tuple:", result)

Enter tuple (space-separated): 23 34 32 54 65 21 32
enter start:2
enter end:6
Extracted tuple: (32, 54, 65, 21, 32)

In [ ]:
#26.Write a code that prompts the user to input two sets of characters. Then print the union of these two sets
set1 = set(input("Enter the first set of characters (separated by commas): ").split(','))
set2 = set(input("Enter the second set of characters (separated by commas): ").split(','))

union = set1 | set2
print("The union of the two sets is:", union)

Enter the first set of characters (separated by commas): 12,3,4,5,6,7,8
Enter the second set of characters (separated by commas): 32,43,54,65,7,8,9
The union of the two sets is: {'32', '3', '9', '4', '54', '5', '12', '8', '65', '7', '43', '6'}

In [ ]:
#27.Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking
def find_max_min(input_tuple):
    max_value = max(input_tuple)
    min_value= min(input_tuple)
    return max_value, min_value

input_tuple = tuple(map(int, input("Enter a tuple of integers (separated by commas): ").split(',')))
print("max,min:",find_max_min(input_tuple))

Enter a tuple of integers (separated by commas): 32,43,54,65,7,8,9
max,min: (65, 7)

In [ ]:
#28.Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets

set1 = set(map(int, input("Enter elements of the first set (space-separated): ").split()))
set2 = set(map(int, input("Enter elements of the second set (space-separated): ").split()))

union_set = set1.union(set2)
intersection_set = set1.intersection(set2)
difference_set = set1.difference(set2)

print("Union:", union_set)
print("Intersection:", intersection_set)
print("Difference (Set 1 - Set 2):", difference_set)

Enter elements of the first set (space-separated): 23 34 32 54 65 21 32
Enter elements of the second set (space-separated): 32 54 65 21 76 86 65
Union: {32, 65, 34, 76, 21, 54, 23, 86}
Intersection: {32, 65, 21, 54}
Difference (Set 1 - Set 2): {34, 23}

In [ ]:
#29.Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple
def count_occurrences(input_tuple, element):
    return input_tuple.count(element)

input_tuple = tuple(map(int, input("Enter a tuple of integers (separated by commas): ").split(',')))
element = int(input("Enter the element to count: "))

count = count_occurrences(input_tuple, element)

print(f"The element {element} occurs {count} times in the tuple.")

Enter a tuple of integers (separated by commas): 32,43,54,65,7,8,9
Enter the element to count: 32
The element 32 occurs 1 times in the tuple.

In [ ]:
#30.Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets
set1 = set(input("Enter the first set of characters (separated by commas): ").split(','))
set2 = set(input("Enter the second set of characters (separated by commas): ").split(','))

symmetric_diff = set1 ^ set2

print("The symmetric difference of the two sets is:", symmetric_diff)

Enter the first set of characters (separated by commas):  32,43,54,65,7,8,9
Enter the second set of characters (separated by commas): 12,3,4,5,6,7,8
The symmetric difference of the two sets is: {'3', '9', '12', ' 32', '6', '4', '54', '5', '65', '43'}

In [1]:
#31.Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list
def word_frequencies(word_list):
    freq_dict = {}
    for word in word_list:
        if word in freq_dict:
            freq_dict[word] += 1
        else:
            freq_dict[word] = 1
    return freq_dict

words = input("Enter a list of words (separated by spaces): ").split()
frequencies = word_frequencies(words)
print("Word frequencies:", frequencies)

Enter a list of words (separated by spaces): soniya delhi soniya delhi sun sun sun delhi delhi
Word frequencies: {'soniya': 2, 'delhi': 4, 'sun': 3}

In [9]:
#32.Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together
def merge_dicts(dict1, dict2):
    merged_dict = dict1.copy()

    for key, value in dict2.items():
        if key in merged_dict:
            merged_dict[key] += value
        else:
            merged_dict[key] = value

    return merged_dict
dict1 = {'a': 10, 'b': 20, 'c': 30}
dict2 = {'b': 5, 'c': 15, 'd': 40}

result = merge_dicts(dict1, dict2)
print(result)

{'a': 10, 'b': 25, 'c': 45, 'd': 40}

In [10]:
#33.Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None
def get_value(d, keys):
    for key in keys:
        d = d.get(key)
        if d is None:
            return None
    return d

# Example usage:
nested_dict = {'a': {'b': {'c': 42}}}

keys_list = ['a', 'b', 'c']
print(get_value(nested_dict, keys_list))

keys_list = ['a', 'x', 'c']
print(get_value(nested_dict, keys_list))

42
None

In [11]:
#34.Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order
def sort_dictionary_by_values(d, ascending=True):
    sorted_dict = dict(sorted(d.items(), key=lambda item: item[1], reverse=not ascending))
    return sorted_dict
original_dict = {'a': 3, 'b': 1, 'c': 2, 'd': 4}

sorted_dict_asc = sort_dictionary_by_values(original_dict, ascending=True)
print("Ascending order:", sorted_dict_asc)

sorted_dict_desc = sort_dictionary_by_values(original_dict, ascending=False)
print("Descending order:", sorted_dict_desc)

Ascending order: {'b': 1, 'c': 2, 'a': 3, 'd': 4}
Descending order: {'d': 4, 'a': 3, 'c': 2, 'b': 1}

In [ ]:
#35.Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.
def invert_dictionary(d):
    inverted_dict = {}
    for key, value in d.items():
        if value in inverted_dict:
            inverted_dict[value].append(key)
        else:
            inverted_dict[value] = [key]
    return inverted_dict
original_dict = {'a': 1, 'b': 2, 'c': 1, 'd': 3}
inverted_dict = invert_dictionary(original_dict)
print(inverted_dict)

{1: ['a', 'c'], 2: ['b'], 3: ['d']}